/********** Template CSS **********/
:root {
  --primary: #a5c9e3;
  --secondary: #1a398b;
  --light: #F2F2F2;
  --dark: #111111;
  --green: #47a281;
  --brown: #de684a;
  --red: #da2c4d;
	--yellow: #f8ab37;
  --onyx: hsl(0, 0%, 27%);
  --white: hsl(0, 0%, 100%);
  --cultured: hsl(200, 12%, 95%);
  --gray-x-11-gray: hsl(0, 0%, 74%);
  --bittersweet: hsl(5, 100%, 69%);
  --rich-black-fogra-29: hsl(217, 28%, 9%);

/********** Font Weight ***********/
  --font-semi-bold: 600;    


/********** Colores ***********/
  --dark-color: #141414;
  --dark-color-light: #8A8A8A;
  --dark-color-lighten: #F2F2F2;
  --white-color: #FFF;


/********** Font **************/
  --h1-font-size: .98rem;
  --h2-font-size: .95rem;
  --h3-font-size: 5px;
  --ff-roboto: 'Roboto', sans-serif;


/********** Margenes **************/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --fs-7: 1.4rem;
  --fw-500: 500;
  --fw-600: 600;


/********** Transition **************/
--transition-1: 0.25s ease;
--transition-2: 0.5s ease;  


/********** Rotate img **************/
  --rotate-img: rotate(-30deg);

}

/* Home Header Banner */
.discount-container {
}

.countdown-banner-wrapper {
  display: flex;
  position: relative;
  margin: 50px auto;
  height: 120px;
  max-width: 960px;
  background-color: #f6f7e2;
  border-radius: 3px;
}

.countdown-star .star-wrap {
  margin-top: -18px;
  width: 150px;
}

.countdown-star img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.countdown-timer-section {
  font-family: "AirbnbCerealApp-Bold";
  font-size: 1rem;
  color: #2c2c2c;
  letter-spacing: -0.35px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.countdown-timer-message {
  margin: 0;
  font-size: 16px;
}

.countdown-masks {
  display: none;
  height: 100%;
  background-image: url('/img/Turbo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

#countdown {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  font-size: 22px;
}

#countdown span {
  border-radius: 3px;
  background-color: #fdcc0e;
  padding: 8px;
}

@media screen and (min-width: 641px) {
  .countdown-timer-message {
    font-size: 22px;
  }

  .countdown-masks {
    width: 300px;
    display: block;
  }

  #countdown {
    font-size: 32px;
  }

  #countdown span {
    min-width: 40px;
  }
}
/* End Banner */

.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--red);
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::after {
	opacity: 0;
}

.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
	opacity: 1;
}

.progress-wrap svg path { 
	fill: none; 
}

.progress-wrap svg.progress-circle path {
	stroke: var(--red);
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}



/*** Language ***/
.flag-icon {
  border-radius: 5px;
}

/*** Navbar ***/ 
.logoimage {
  width: 130px;
}

.header, .main-top {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  margin-top: 10px;
}

.header li a {
  display: block;
  color: #000;
  padding: 8px 8px;
  text-transform: uppercase;
  text-align: center;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header ul li.active a {
  color: #f00;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}


/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/*** Header carousel ***/
.slider {
  position: relative;
  top: 70%;
  transform: translateY(-2%);
  display: flex;
  flex-direction: column;
}

.slider__component {
  height: 100vh;
  position: relative;
  opacity: 0;
  visibility: hidden;
  margin-left: 40px;
  margin-right: 40px;
}

.slider__component .flickity-page-dots {
  width: calc(100% - 16.66666%);
  left: 50%;
  bottom: 8vh;
  z-index: 35;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  text-align: left;
}

.slider__component .flickity-page-dots li {
  width: 16px;
  height: 16px;
  opacity: 0.8;
  border: 2px solid white;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.slider__component .flickity-page-dots li.is-selected {
  opacity: 1;
  border: 2px solid white;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.slider__component .flickity-page-dots li:hover {
  opacity: 1;
  border: 2px solid white;
  background-color: white;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.slider__loader {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  overflow: hidden;
  z-index: 30;
  background-color: var(--primary);
}

.slider__item {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 15;
  position: relative;
}

.slider__item__image {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  overflow: hidden;
  z-index: 15;
}

.slider__item__image:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 18;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider__item__image:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 20;
  position: absolute;
}

.slider__item__image img {
  opacity: 0;
  visibility: hidden;
}

.slider__item__text {
  width: calc(100% - 16.66666%);
  top: 50%;
  left: 50%;
  z-index: 25;
  position: absolute;
  text-align: left;
  transform: translate(-50%, -50%);
}

.slider__item__text span {
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 8px;
  margin-bottom: 50px;
}

.slider__item__text span:before {
  content: "";
  top: 50%;
  left: 0px;
  width: 2px;
  height: 100%;
  position: absolute;
  transform: translateY(-50%);
  background-color: var(--secondary);
}

.slider__item__text h1 {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 4vw;
  font-weight: 800;
  position: relative;
  margin-bottom: 10px;
  opacity: 0;
  visibility: 0;
  margin-bottom: 60px;
}

.slider__item__text a {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-top: 35px;
  padding: 0.8rem 2rem;
  border: 0px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: var(--primary);
  opacity: 0;
  visibility: 0;
}

.slider__item__text a:hover {
  color: white;
  background-color: var(--secondary);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.slider__controls {
  top: 50%;
  z-index: 30;
  position: absolute;
  transform: translateY(-50%);
}

.slider__controls.is-prev {
  left: 0px;
}

.slider__controls.is-next {
  right: 0px;
}

.slider__controls button {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  width: 54px;
  height: 54px;
  border: 0px;
  border-radius: 0px;
  padding: 0px;
  position: relative;
  text-align: center;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.slider__controls button:hover {
  color: var(--dark);
  transition: all 0.3s ease-in-out;
}

.slider__controls button:focus {
  outline: 0px;
  box-shadow: none;
  border-radius: 0px;
}



/** Slider **/
.container-slide {
  position:relative;
  padding-top: 40px;
  margin-bottom: 60px;
  margin-left: 250px;
  margin-right: 250px;
  width: 70%;
}

.slick-slide {
  margin: 0 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-initialized 
.slick-slide {
  display: block;
}


/** DILSA Text **/
.home-wrapper {
  text-align: center !important;
}

.home-heading h2 {
  margin-left: -30px !important;
}


.home-wrapper .dilsa-text {
  max-width: 720px;
  margin:auto;
  margin-top: 12px;
}

.service-work.card {
  border-radius: 10px !important;
  cursor: pointer;
}

.service-work .service-work-vertical {
	background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 33.33%, rgba(255,255,255,1) 66.66%, rgba(255,255,255,0) 99.99%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
}

.service-work .service-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}

.service-work .service-work-vertical:hover * {
  color: #000;
  border-color: #000;
  transition: .5s;
}

/* Section Card */

/* End Section Card */
/** Stock **/


/** Services **/
h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.main h5 {
  display: block;
  width: 70%;
  margin: 0 98px;
  color: #9b9b9b;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn-0 {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn-0:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #1a398b 40%, #1a398b 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

/** Contact **/
.section-contact {
  padding: 120px;
  background-color: #fff;
}

.section-contact .header-section .title {
	position: relative;
	margin-bottom: 17px;
  font-weight: 700;
  font-size: 55px;
}

.section-contact .header-section .title .dot {
  display: inline-block;
  position: absolute;
  bottom: 8px;
  width: 8px;
  height: 8px;
  margin-left: 3px;
  background-color: var(--secondary)
}

.section-contact .header-section .description {
  font-family: "Roboto", sans-serif;
  color: #2a6287;
}

.section-contact .header-section .big-title {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%,70%);
  font-size: 120px;
  font-weight: 700;
  opacity: 0.15;
}

.section-contact .form-contact .single-input {
  position: relative;
  margin-top: 40px;
}

.section-contact .form-contact .single-input i {
  position: absolute;
  top: 5px;
  left: 15px;
  color: var(--secondary);
}

.section-contact .form-contact .single-input input,
.section-contact .form-contact .single-input textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #07395c;
  padding-left: 50px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
  transition: border .3s;
}

.section-contact .form-contact .single-input input::placeholder,
.section-contact .form-contact .single-input textarea::placeholder {
  color: rgba(7, 57, 92, .3);
}

.section-contact .form-contact .single-input input:focus,
.section-contact .form-contact .single-input textarea:focus {
  border-color: var(--secondary);
}

.section-contact .form-contact .single-input textarea {
  height: 150px;
  min-height: 50px;
}

.section-contact .form-contact .submit-input input {
  margin-top: 40px;
  padding: 15px 50px;
  background-color: var(--secondary);
  color: #fff;
  border: none;
  font-weight: 700;
  transition: background-color .3s;
}

.section-contact .form-contact .submit-input input:hover {
  background-color: #07395c;
}


/* SALES PAGE */
.product .section-title {
  text-align: center;
  margin-bottom: 25px;
}

.product-list {
  display: grid;
  gap: 50px 25px;
}

.card-banner {
  background: var(--cultured);
  position: relative;
  height: 350px;
  overflow: hidden;
}

.image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: var(--transition-2);
}

.product-card:is(:hover, :focus),
.image-contain {
  transform: scale(1.1);
}

.card-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background: var(--bittersweet);
  color: var(--white);
  padding: 5px 15px;
  font-family: var(--fs-roboto);
  font-size: var(--fs-7);
  border-radius: 25px;
}

.card-action-list {
  position: absolute;
  top: 20px;
  right: -20px;
  opacity: 0;
  transition: var(--transition-1);
}

.product-card:is(:hover, :focus),
.card-action-list {
  right: 20px;
  opacity: 1;
}

.card-action-item {
  position: relative;
}

.card-action-item:not(:last-child){ 
  margin-bottom: 10px;
}

.card-action-btn {
  background: var(--white);
  color: var(--rich-black-fogra-29);
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.card-action-btn ion-icon {
  --ionicon-stroke-width: 30px;
}

.card-action-btn:is(:hover, :focus) {
  background: var(--bittersweet);
  color: var(--white);
}

.card-action-tooltip {
  position: absolute;
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
  width: max-content;
  background: var(--black_90);
  color: var(--white);
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.card-action-btn:is(:hover, :focus) + 
.card-action-tooltip {
  opacity: 1;
}

.card-content {
  padding: 24px 15px 0;
  text-align: center;
}

.card-cat {
  font-family: var(--ff-roboto);
  color: var(--onyx);
  font-size: var(--fs-7);
  margin-bottom: 12px;
}

.card-cat-link {
  display: inline-block;
  color: inherit;
  transition: var(--transition-1);
}

.card-cat-link:is(:hover, :focus){
  color: var(--bittersweet);
}

.product-card, 
.card-title {
  margin-bottom: 12px;
}

.product-card .card-title > a {
  color: inherit;
  transition: var(--transition-1);
}

.product-card .card-title > a:is(:hover, :focus){
  color: var(--bittersweet);
}

.card-price {
  color: var(--bittersweet);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-600);
}

.card-price del {
  color: var(--gray-x-11-gray);
  margin-left: 8px;
}

.btn-link {
  --background: none;
  --border-color: none;
  padding: 0;
  margin-inline: auto;
  max-width: max-content;
  font-family: var(--ff-roboto);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  padding-bottom: 6px;
  border-bottom: 1px solid var(--white);
}

.btn-link:is(:hover, :focus){
  border-color: transparent;
}












/** Footer **/
#container-fluid {
  margin-left: 14px;
  margin-right: 14px;
} 

.container-fluid 
.col-lg-3 {
  margin: auto;
}

.footer {
  background: linear-gradient(rgba(26, 57, 139, .8), rgba(26, 57, 139, .8)), url(../img/carousel-bg-1.jpg) center center no-repeat;
  background-size: cover;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  cursor:default;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}