

 @media only screen and (min-width: 280px) and (max-width: 599px) {

     .offer-box li i{
         font-size: 11px;
         margin-left: 6px;
    }
     .offer-box li{
         font-size: 9px;
         margin-left: 15px;
    }

}


/****** Media Queries Sales ******/
@media (min-width: 575px){
    /* Custom Property */
    :root {
        /* Typography */
        --fs-1: 4rem;
    }

    /* Style */
    .container {
        max-width: 650px;
        width: 100%;
        margin-inline: auto;
    }

    /* Products */
    .product-list {
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
    }
}


@media (max-width: 767px){
    .product-list {
        width: 92%;
    }
}

@media(min-width: 768px){
    /* Custom Property */
    :root {
        /* Typography */
        --fs-2: 3rem;
    }

    /* Style */
    .container {
        max-width: 720px;
    }
}


@media(min-width: 992px){
    /* Custom Property */
    :root {
        /* Typography */
        --fs-2: 2.4rem;
    }

    /* Style */
    .container {
        max-width: 970px;
    }

    /* Products */
    .product-list {
        grid-template-columns: repeat(3, 1fr);
        list-style-type: none;
    }
}


@media(min-width: 1200px){
    /* Custom Property */
    :root {
        /* Typography */
        --fs-1: 5rem;
        --fs-2: 3.6rem;
    }

    /* Style */
    .container {
        max-width: 1280px;
    }

    /* Products */
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}