/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700');



/*------------------------------------------------------------------ HEADER -------------------------------------------------------------------*/
.main-top{
   background: #000000;
   padding: 10px 0px;
}

.offer-box {
   color: #FFFFFF;
   font-size: 13px;
   padding: 2px 15px;
   font-family: 'Poppins', sans-serif;
   margin-left: -35px;
}

.offer-box li {
   font-weight: 600;
}

.offer-box li i {
   margin-right: 15px;
   margin-left: 30%;
   color: #b0b435;
   font-size: 20px;
}


/* Navbar Adjusment =========================== */

.offer-box {
  position: relative;
  overflow: hidden;
}




/* Responsive Screen Size */
@media screen and (min-width: 768px) and (max-width: 1023px){
   .offer-box li i {
      margin-right: 15px;
      margin-left: 45%;
      color: #b0b435;
      font-size: 20px;
   }
}

@media screen and (min-width: 1024px){
   .offer-box li i {
      margin-right: 15px;
      margin-left: 45%;
      color: #b0b435;
      font-size: 20px;
   }
}